body
{
align-text: center;
}

#nav
{
width:100%;
background-color: black;
height: 80px;

}

#nav ul
{
margin: 0 auto;
display: table;


}

#nav ul li
{
font-family: open sans;
font-size: 65px;
color: white;
text-align: center;
display: inline-block;

}

.centerit
{
margin: auto auto auto auto;



}

.hvr-grow {
    
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
	text-align: center;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
	
}

#middle
{
padding-top: -30px;
/*height: 1100px;*/
height: 1012px;
width: 100%;
background-color: white;
}

#contentright
{
height: 800px;
width: 30%;
background-color: grey;
float:right;

}

.highlight
{
color: white;

}

#contentright ul 
{
 border: 2px solid;
 border-radius: 25px;
width: 100%;
height: 100%;
background-color: white;
margin-right: auto;
margin-left: auto;
margin-top: auto;
margin-bottom: auto;
float: right;
list-style-type: none;

}



#contentright ul li
{
margin-left:40px;
margin-right:25px;
margin-top: 40px;
text-align:left;
}

.test
{
font-size: 30px;
color: blue;
transition: ease-in all 200ms;
}

.test:hover
{
Opacity: 0.3;

}
/* TRYING OUT THE JAVASCRIPT EFFECT*/
#one.clicked {
    color: Orange;

}

#two.clicked {
    color: orange;
}

#three.clicked {
    color: orange;
}
#four.clicked {
    color: orange;
}
#five.clicked {
    color: orange;
}
#six.clicked {
    color: orange;
}
#seven.clicked {
    color: orange;
}



#contentleft
{
width:70%;
height: 800px;
background-color: beige;
float: left;

}


#dropleft
{
width:20%;
height: 650px;
background-color: white;
float: left;

}

#dropright
{
width:80%;
height: 650px;
background-color: white;
float: right;

}



#footimg
{
clear: both;
height: 505px;
width: 100%;
background-color: transparent;

}

/*
#footimg img
{
height: 512px;
width: 100%;
}
*/

#footer
{
clear: both;
padding-top:10px;
height: 50px;
width:100%;
background-color: black;
text-align: center;

}

#footer p
{
padding-top:10px;
color: white;
}

#carousels img
{
height: 512px;
width: 100%;
}

